<section class="bg-light">
    <div class="container">
        <footer class="py-5">
            <div class="row">
                <div class="col-6 col-md-3 mb-3">
                    <h5>Bize Ulaşın</h5>
                    <div class="col-auto">
                        <div>
                            <h6>Adres</h6>
                            Altunizade/Üsküdar/İstanbul
                        </div>
                        <div class="mt-2">
                            <h6>Email</h6>
                            info@ripplex.com
                        </div>
                        <div class="mt-2">
                            <h6>Telefon</h6>
                            0216 XXX XX XX
                        </div>

                    </div>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5>Çok Satan Markalar</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Monster</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Asus</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Acer</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Excalibur</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Samsung</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-3 mb-3">
                    <h5>Çok Satan Kategoriler</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Dizüstü Bilgisayar</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Masaüstü Bilgisayar</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Tablet Bilgisayar</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Monitörler</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Tv&Görüntü&Ses Sistemleri</a></li>
                    </ul>
                </div>

                <div class="col-md-4 mb-3">
                    <form>
                        <h5>E-Bültene Abone Olun!</h5>
                        <p>Kampanyalardan önce sizin haberiniz olsun.</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">Email</label>
                            <input id="newsletter1" type="text" class="form-control" placeholder="Email">
                            <button class="btn btn-primary text-nowrap"type="button">Abone Ol</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>© 2025 Ripplex Inspire Ltd. Tüm hakları saklıdır.</p>
                <p>Designed by Eray Sönmezer</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3">
                        <a class="text-secondary" href="x.com/" target="_blank">
                            @* slashdan sonra kullanıcı adlarını ekleriz. bütün sosyal medyalar için geçerli *@
                            @* target=_blank ifadesi de site açık kalırken sosyal medya hesaplarını yeni sekmede açmaya yarar.*@
                            
                            <i class="bi bi-twitter-x"></i>
                    </a></li>
                    <li class="ms-3">
                        <a class="text-secondary" href="instagram.com/" target="_blank">
                            <i class="bi bi-instagram"></i>
                        </a></li>
                    <li class="ms-3">
                        <a class="text-secondary" href="facebook.com/" target="_blank">
                            <i class="bi bi-facebook"></i>
                        </a></li>
                </ul>
            </div>
        </footer>
    </div>
</section>

